<div class="footercontain">
  <footer class="page-footer">
    <div class="footer-copyright text-center">© 2020 Copyright :
      <a href="https://event-thp.herokuapp.com/"> Event-thp.herokuapp.com </a>
    </div>
  </footer>
</div>